.comment {
  position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 227, 227, 0.72);
    color: white;
    /* z-index: 1; */
    z-index: 999;
    overflow: hidden;
}

.commentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(239, 228, 228);
  width: 45%;
  top: 0;
  left: 0;
  margin: auto;
margin-top: 0px;
  color: black;
  /* height: inherit; */
  overflow: hidden;
  z-index: 999;
}

.TopItems{
  width: 90%;
  overflow-y: scroll;
}
.commentHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 215, 215);
  top: 0;
  width: 100%;
  padding: 5px 0px;
}
.stitle {
  font-size: 25px;
}

.clsBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 25px;
  cursor: pointer;
  border: 2px solid rgb(12, 12, 12);
  border-radius: 100%;
  padding: 2px;
}

.postC{
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  /* margin-left: 20px; */
}
.postimg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}
.commentBottom{
  display: flex;
  /* border: 1px solid red; */
  width: 90%;
  margin-top: 20px;
  margin-left: 20px;
}
.profilePic{
  width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.userDetais{
  display: flex;
  flex-direction: column;
  background-color: rgba(233, 219, 219, 0.776);
  padding: 3px 6px;
  border-radius: 10px;
  height: fit-content;
  gap: 0;
  max-width: 300px;
}
.username{
  color: black;
  font-size: 18px;
 margin-bottom: -15px;
}
.message{
  column-rule: rgb(184, 181, 181);
  font-size: 15px;
}

.commentFix{
  background-color: rgb(199, 199, 222);
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

@media only screen and (max-width: 400px) {
  .setting {
      position: absolute;
      top: 70px;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.597);
      color: white;
      z-index: 999;
  }

  .settingWrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(32, 30, 30);
      width: 60%;
      top: 0;
      left: 0;
      margin: auto;
      margin-top: 50px;
  }

  .stitle {
      font-size: 18px;
  }

  .close {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 25px;
      cursor: pointer;
      border: 1px solid white;
      border-radius: 100%;
      padding: 2px;
  }

  .searchItems {
      width: 90%;
      /* border: 1px solid red; */
      height: 75vh;
      overflow-y: scroll;
  }

  .searchItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }


  .itemImg {
      width: 120px;
      height: 90px;
  }

  .sRight {
      width: 100%;
      overflow: hidden;
      /* border: 1px solid blue; */
      margin-left: 10px;
      height: 90px;


  }

  .firstDetails {
      display: flex;
      flex-direction: column;
  }

  .itemTitle {
      font-size: 15px;
      font-weight: 400;
  }

  .desc {
      font-size: 9px;
      margin-bottom: 4px;
  }

  .dItem {
      /* margin-top: -2px; */
      margin-right: 10px;
      font-size: 12px;
      /* margin-bottom: 10px; */
  }
}