.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
  }
  
  .postWrapper {
    padding: 10px;
  }
  .tpostWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    /* z-index: 999; */
  }
  .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .postTopLeft {
    display: flex;
    align-items: center;
  }
  
  .postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .postDate{
      font-size: 12px;
  }
  
  .postCenter{
      margin: 20px 0;
  }
  
  .postImg{
      margin-top: 20px;
      width: 100%;
      max-height: 500px;
      object-fit: contain;
  }
  
  .postBottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .postBottomLeft{
      display: flex;
      align-items: center;   
  }
  
  .likeIcon{
      width: 24px;
      height: 24px;
      margin-right: 5px;
      cursor: pointer;
  }
  
  .postLikeCounter{
      font-size: 15px;
  }
  
  .postCommentText{
      cursor: pointer;
      border-bottom: 1px dashed gray;
      font-size: 15px;
  }
.chr{
  margin-top: 10px;
  margin-bottom: 10px;
  color: lightgray;
}
  .commentTop {
    display: flex;
    align-items: center;
  }
  
  .commentProfileImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 10px;
  }
  .cWrite{
    border: 1px solid gray;
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgb(249, 247, 247);
  }
  .commentInput {
    border: none;
    width: 100%;
    background: transparent;
    padding: 5px;
 
  }
  
  .commentInput:focus {
    outline: none;
  }
  .sendIcon{
    margin-right: 5px;
    font-size: 18px !important;
    cursor: pointer;
    color: rgb(6, 182, 252);
  }
  .shareHr {
    margin: 20px;
  }

  .showComments{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(229, 227, 227, 0.72);
    color: white;
    z-index: 999;
  }